<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <form>
        <table>
          <tr>
            <td>
              <mat-form-field>
                <input type="text" id="startingSearch" matInput [formControl]="control" [matAutocomplete]="auto" class="autoInput" placeholder="Starting Point">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="text" id="destinationSearch" matInput [formControl]="control2" [matAutocomplete]="auto" class="autoInput" placeholder="Destination">
              </mat-form-field>
            </td>
            <td><button (click)="createRoute()" type="submit" class="btn btn-dark" id="button">Route</button></td>
          </tr>
        </table>
        

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredItems" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-autocomplete>
      </form>
     </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div>
  <agm-map [(latitude)]="latCenter" [(longitude)]="lngCenter" [(zoom)]="zoom" [disableDefaultUI]="true" [zoomControl]="true" id="map">
    <agm-marker *ngFor="let data of buildings; let i = index" [(latitude)]="data.lat" [(longitude)]="data.lng" [agmFitBounds]="true"></agm-marker>
    <agm-direction [origin]="point1" [destination]="point2" [travelMode]="travelMode" [waypoints]="stairs" [provideRouteAlternatives]="provideRouteAlternatives"></agm-direction>
  </agm-map>
</div>

